<% provide(:title, t(".title")) %>
<section class="content-header">
</section>
<section class="content">
  <div class="row">
    <div class="col-md-3">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t(".select") %></h3>
        </div>
        <div class="box-body">
          <%= form_tag('/admin/latelists', method: :get) do %>
              <div class="row">
                <div class="col-md-6">
                  <%= label_tag :Month %><br>
                  <%= select_month(Date.today, {use_two_digit_numbers: true}, {class: "btn btn-primary", name: :month}) %>
                </div>
                <div class="col-md-6">
                  <%= label_tag :Year %><br>
                  <%= select_year(Date.today, {start_year: 2017, end_year: 2025}, {class: "btn btn-primary", name: :year}) %>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col-md-6">
                  <%= submit_tag :Show, class: "form_submit col-md-12 btn btn-primary" %>
                </div>
              </div>
          <% end %>
        </div>
      </div>
    </div>
    <% if(@check) %>
        <div class="col-md-9">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><%= t(".title_list") %></h3>
            </div>
            <div class="box-body">
              <div class="responsive-calendar">
                <div class="controls">
                  <h3>
                    <span><%= params[:year] %></span>
                    <span><%= @months[params[:month].to_i-1] %></span>
                   </h3>
                </div><hr>
              </div>
              <table class="table table-bordered table-striped table-responsive">
                <thead>
                  <tr>
                    <th><%= t(".id") %></th>
                    <th><%= t(".date") %></th>
                    <th><%= t(".full_name") %></th>              
                    <th><%= t(".time_in") %></th>                    
                  </tr>
                </thead>
                <tbody>
                  <% count = 1 %>
                  <% @lists.each do |row| %>
                    <tr>
                      <td><%= count %></td>
                      <td><%= row['date'].strftime("%d-%m-%Y") %></td>
                      <td>
                        <%= link_to(row['name'], admin_user_path(row['id']), data: {turbolinks: false}) %>
                      </td>
                      <td><%= row['tin'].strftime("%T") %></td>
                      <% count += 1 %>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>          
          </div>          
        </div>
      <% end %>
  </div>
</section>
