<% if @attendance.nil? %>
  <%= form_for(:attendances, url: attendances_path) do |f| %>
    <%= f.hidden_field :id, value: nil %>
    <%= f.submit t(".start"), class: "btn btn-primary submit-attendance" %>
  <% end %>
<% else %>
  <% if @attendance.time_out.nil? %>
    <%= form_for(:attendances, url: attendances_path) do |f| %>
      <p>Time in: <%= @attendance.time_in.strftime("%H:%M:%S") %></p>
      <%= f.hidden_field :id, value: @attendance.id %>
      <%= f.submit t(".finish"), class: "btn btn-primary submit-attendance",
        data: {confirm: t(".confirm")} %>
    <% end %>
  <% else %>
    <h2>Done!</h2>
    <p>Time in: <%= @attendance.time_in.strftime("%H:%M:%S") %></p>
    <p>Time out: <%= @attendance.time_out.strftime("%H:%M:%S") %></p>
  <% end %>
<% end %>
