<% provide(:title, t(".title")) %>
<section class="content-header">
</section>

<section class="content">
  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"><%= t(".title") %></h3>
        </div>
        <div class="box-body">
          <table class="table table-bordered">
            <tr>
              <th><%= t(".id") %></th>
              <th><%= t(".full_name") %></th>
              <th><%= t(".nearest_attendance") %></th>
              <th><%= t(".today") %></th>
              <th>#</th>
            </tr>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to(user.full_name, admin_user_path(user.id),
                data: {turbolinks: false}) %></td>
              <td><%= user.nearest_attendance %></td>
              <td><%= user.today %></td>
              <td>
                <% if !user.admin? %>
                  <% if user.lock? %>
                    <%= link_to(t(".unlock"), admin_user_unlock_path(user.id),
                      method: :put,
                      data: {confirm: t(".confirm")}) %>
                  <% else %>
                    <%= link_to(t(".lock"), admin_user_lock_path(user.id),
                      method: :put,
                      data: {confirm: t(".confirm")}) %>
                  <% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">    
      <a href="<%= admin_statistics_path %>"
        data-turbolinks="false" class="btn btn-primary btn-block" target="blank">
        <%= t(".statistic") %>
      </a>
    </div>
  </div>
</section>