<% provide(:title, t(".title")) %>
<section class="content-header">
</section>
<section class="content">
  <div class="row">
    <div class="col-md-5">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h4 class="box-title"><%= t(".user_profile") %></h4>
        </div>
        <div class="box-body">
          <div>
            <label><%= t(".full_name") %></label>
            <%= @user.full_name %>
          </div>
          <div>
            <label><%= t(".email") %></label>
            <%= @user.email %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h4 class="box-title"><%= t(".calendar") %></h4>
        </div>
        <div class="box-body">
          <div class="responsive-calendar">
            <div class="controls">
              <a class="pull-left" data-go="prev">
                <div class="btn btn-primary">Prev</div>
              </a>
              <h4><span data-head-year></span> <span data-head-month></span></h4>
              <a class="pull-right" data-go="next">
                <div class="btn btn-primary">Next</div>
              </a>
            </div>
            <hr/>
            <div class="day-headers">
              <div class="day header"><%= t(".mon") %></div>
              <div class="day header"><%= t(".tue") %></div>
              <div class="day header"><%= t(".wed") %></div>
              <div class="day header"><%= t(".thu") %></div>
              <div class="day header"><%= t(".fri") %></div>
              <div class="day header"><%= t(".sat") %></div>
              <div class="day header"><%= t(".sun") %></div>
            </div>
            <div class="days" data-group="days">
            </div>
          </div>
          <script type="text/javascript">
            $(document).ready(function () {
              var thisMonth = "<%= @this_month %>";
              showAttendanceOnCalendar(thisMonth, <%= raw @attendances.to_json %>);
              showModal(<%= raw @data.to_json %>);
            });
          </script>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="modal fade" id="attendance_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"
          aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title"><%= t(".edit_attendance") %></h4>
      </div>
    <%= form_for(:attendance, url: "#", method: :put,
      :html=> {:id => "form-attendance"}) do |f| %>
      <div class="modal-body">
        <%= render "shared/error_messages" %>
        <%= f.hidden_field :year, value: @year %>
        <%= f.hidden_field :month, value: @month %>
        <%= f.label :date %>
        <%= f.date_field :date, class: "form-control date-attendance" %>
        <%= f.label :time_in %>
        <%= f.time_field :time_in, class: "form-control time-in-attendance" %>
        <%= f.label :time_out %>
        <%= f.time_field :time_out, class: "form-control time-out-attendance" %>
      </div>
      <div class="modal-footer">
        <%= f.submit t(".save"), class: "btn btn-primary" %>
        <a type="button" class="btn btn-primary pull-right delete-attendance"
          data-confirm="<%= t(".confirm") %>"
          data-method="delete"><%= t(".delete") %></a>
      </div>
    <% end %>
    </div>
  </div>
</div>
