<% provide(:title, t(".title")) %>
<h3><%= t(".profile") %></h3>
<div>
  <label><%= t(".full_name") %></label>
  <%= @user.full_name %>
</div>
<div>
  <label><%= t(".email") %></label>
  <%= @user.email %>
</div>
<h3><%= t(".attendances") %></h3>
<%= form_for(:date, url: admin_user_path, method: :get) do |f| %>
  <label><%= t(".year") %></label>
  <%= f.select(:year, options_for_select(
    [
      ["2017", 2017],
      ["2016", 2016]
    ], @year
  ))
  %>
  <label><%= t(".month") %></label>
  <%= f.select(:month, options_for_select(
    [
      [t(".January"), 1],
      [t(".February"), 2],
      [t(".March"), 3],
      [t(".April"), 4],
      [t(".May"), 5],
      [t(".June"), 6],
      [t(".July"), 7],
      [t(".August"), 8],
      [t(".September"), 9],
      [t(".October"), 10],
      [t(".November"), 11],
      [t(".December"), 12]
    ], @month
  ))
  %>
  <%= f.submit t(".search"), class: "btn btn-primary" %>
<% end %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th><%= t(".date") %></th>
      <th><%= t(".time_in") %></th>
      <th><%= t(".time_out") %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.date %></td>
        <td><%= attendance.time_in.strftime("%H:%M") %></td>
        <td>
        <% if attendance.time_out.present? %>
          <% time_out = attendance.time_out.strftime("%H:%M") %>
        <% else %>
          <% time_out = "" %>
        <% end %>
        <%= time_out %>
        </td>
        <td>
          <%= link_to(t(".delete"), attendance_path(id: attendance.id, year: @year,
            month: @month), method: :delete, data: {confirm: t(".confirm")}) %> |
          <%= link_to(t(".edit"), "#attendanceModal" , onclick: "showModal(this)",
            data: {id: attendance.id,
              date: attendance.date.strftime("%Y-%m-%d"),
              time_in: attendance.time_in.strftime("%H:%M"),
              time_out: time_out}, "data-toggle" => "modal"
            ) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal fade" id="attendanceModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><%= t(".edit_attendance") %></h4>
      </div>
      <%= form_for(:attendance, url: "#", method: :put,
        :html=> {:id => "form-attendance"}) do |f| %>
        <div class="modal-body">
          <%= render "shared/error_messages" %>
          <%= f.hidden_field :year, value: @year %>
          <%= f.hidden_field :month, value: @month %>
          <%= f.label :date %>
          <%= f.date_field :date, class: "form-control date-attendance" %>
          <%= f.label :time_in %>
          <%= f.time_field :time_in, class: "form-control time-in-attendance" %>
          <%= f.label :time_out %>
          <%= f.time_field :time_out, class: "form-control time-out-attendance" %>
        </div>
        <div class="modal-footer">
          <%= f.submit t(".save"), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
