<header class="main-header">
  <a href="/" data-turbolinks="false" class="logo">
    <span class="logo-lg"><b><%= t(".home") %></b></span>
  </a>
  <nav class="navbar navbar-static-top">
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src=<%= image_url("user2-160x160.jpg") %>
                class="user-image" alt="User Image">
              <span class="hidden-xs"><%= current_user.full_name %></span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src=<%= image_url("user2-160x160.jpg") %>
                  class="img-circle" alt="User Image">
                <p>
                  <%= current_user.full_name %>
                  <small><%= current_user.email %></small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-left">
                  <a href=<%= edit_user_path(current_user) %> data-turbolinks="false"
                    class="btn btn-default btn-flat"><%= t(".profile") %></a>
                </div>
                <div class="pull-right">
                  <a href="/logout" class="btn btn-default btn-flat">
                    <%= t(".log_out") %>
                  </a>
                </div>
              </li>
            </ul>
          </li>
      </ul>
    </div>
  </nav>
</header>
